<h1 mat-dialog-title>
  <ng-container
    *ngIf="data; else elseBlock"
    i18n="View element header@@header_viewElement"
  >
    Просмотр элемента
  </ng-container>
  <ng-template #elseBlock i18n="Add element header@@header_addElement"
    >Добавление элемента</ng-template
  >
</h1>
<div mat-dialog-content>
  <form [formGroup]="elementForm">
    <mat-form-field appearance="fill">
      <mat-label i18n="Name@@tb_name">Название</mat-label>
      <input
        formControlName="name"
        matInput
        [required]="!!!data"
        [readonly]="!!data"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n="Description@@tb_description">Описание</mat-label>
      <textarea
        formControlName="description"
        matInput
        [readonly]="!!data"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n="End date label @@tb_dateEnd">Дата окончания</mat-label>
      <input
        formControlName="dateEnd"
        matInput
        [matDatepicker]="picker"
        [required]="!!!data"
        [readonly]="!!data"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        [disabled]="!!data"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="time">
      <mat-label i18n="End time label @@label_endTime"
        >Время окончания</mat-label
      >
      <input formControlName="time" matInput type="time" [readonly]="!!data" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-flat-button mat-dialog-close i18n="Close@@btn_close">
    Закрыть
  </button>
  <button
    mat-flat-button
    color="primary"
    *ngIf="!!!data"
    (click)="addElement()"
    i18n="Add@@btn_add"
  >
    Добавить
  </button>
</div>
