<h1 mat-dialog-title>{{ data ? "Просмотр" : "Добавление" }} элемента</h1>
<div mat-dialog-content>
  <form [formGroup]="elementForm">
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <input
        formControlName="name"
        matInput
        [required]="!!!data"
        [readonly]="!!data"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Описание</mat-label>
      <textarea
        formControlName="description"
        matInput
        [readonly]="!!data"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата окончания</mat-label>
      <input
        formControlName="dateEnd"
        matInput
        [matDatepicker]="picker"
        [required]="!!!data"
        [readonly]="!!data"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        [disabled]="!!data"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="time">
      <mat-label>Время окончания</mat-label>
      <input formControlName="time" matInput type="time" [readonly]="!!data" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-flat-button mat-dialog-close>Закрыть</button>
  <button
    mat-flat-button
    color="primary"
    *ngIf="!!!data"
    (click)="addElement()"
  >
    Добавить
  </button>
</div>
