<div class="container">
  <div class="interact">
    <mat-form-field appearance="standard">
      <mat-label i18n="Name label@@label_name">Название</mat-label>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="filterText" />
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label i18n="End date range label@@label_endDateRange"
        >Диапазон дат окончания</mat-label
      >
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Начало"
          i18n-placeholder
          [(ngModel)]="filterDateStart"
        />

        <input
          matEndDate
          placeholder="Конец"
          i18n-placeholder
          [(ngModel)]="filterDateEnd"
          (dateChange)="applyFilter()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-button
      (click)="
        filterText = ''; filterDateStart = ''; filterDateEnd = ''; applyFilter()
      "
      i18n="Clear@@btn_clear"
    >
      Очистить
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n="Table id column@@tb_id">№</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n="Table name column@@tb_name">
        Название
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table description column@@tb_description"
      >
        Описание
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table start date column@@tb_dateStart"
      >
        Дата начала
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateStart | date: "MMM dd, YYYY, HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table end date column@@tb_dateEnd"
      >
        Дата окончания
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateEnd | date: "MMM dd, YYYY, HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="action">
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!filterText">
          <mat-icon>reorder</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            (click)="moveRow(element, 1)"
            [disabled]="isFirst(element)"
          >
            <mat-icon>arrow_upward</mat-icon
            ><span i18n="Move up prompt@@btn_moveUp">Переместить вверх</span>
          </button>
          <button
            mat-menu-item
            (click)="moveRow(element, -1)"
            [disabled]="isLast(element)"
          >
            <mat-icon>arrow_downward</mat-icon
            ><span i18n="Move down prompt@@btn_moveDown">Переместить вниз</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog($event, row)"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td
        class="mat-cell"
        colspan="4"
        *ngIf="filterText || filterDateEnd"
        i18n="No results found@@filter_noResults"
      >
        Результаты отсутствуют
      </td>
    </tr>
  </table>
</div>
