<div class="container">
  <div class="interact">
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
      class="button-add"
      i18n="Add element button@@btn_addElement"
    >
      Добавить элемент
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n="Table id column@@tb_id">№</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n="Table name column@@tb_name">
        Название
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table description column@@tb_description"
      >
        Описание
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table start date column@@tb_dateStart"
      >
        Дата начала
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateStart | date: "MMM dd, YYYY, HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <th
        mat-header-cell
        *matHeaderCellDef
        i18n="Table end date column@@tb_dateEnd"
      >
        Дата окончания
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateEnd | date: "MMM dd, YYYY, HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="action">
        <button
          mat-icon-button
          color="primary"
          (click)="duplicateElement(element)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteElement(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
