<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/" ariaCurrentWhenActive="page"
    ><mat-icon>home</mat-icon></a
  >
  <a
    mat-button
    routerLink="/editor"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    i18n="Header button Editor@@hb_editor"
    >Редактор</a
  >
  <a
    mat-button
    routerLink="/viewer"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    i18n="Header button Viewer@@hb_viewer"
    >Просмотр</a
  >
  <a mat-icon-button id="language" [matMenuTriggerFor]="menuLang">
    <mat-icon>language</mat-icon>
    <mat-menu #menuLang="matMenu" xPosition="before">
      <a mat-menu-item href="/ru/"> Русский </a>
      <a mat-menu-item href="/en-US/"> English </a>
    </mat-menu>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
