<mat-toolbar color="primary">
  <span>
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-button
      >Тестовое задание</a
    >
  </span>
  <span>
    <a
      routerLink="/editor"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-button
      >Редактор</a
    >
  </span>
  <span>
    <a
      routerLink="/viewer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-button
      >Просмотр</a
    >
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
