<div class="container">
  <div>
    <h1>Требования</h1>
    <p>Редактор и просмотр элементов на отдельных страницах.</p>
    <p>
      Элемент состоит из наименования, описания, даты создания и даты
      выполнения.
    </p>
    <p>На странице редактора должно быть реализовано следующее:</p>
    <ol>
      <li>
        Добавление элемента:
        <ol>
          <li>
            Добавление необходимо делать с помощью popup состоящего из полей:
            <ol>
              <li>Название.</li>
              <li>Дата выполнения (Дата + Время).</li>
              <li>Описание.</li>
            </ol>
          </li>
          <li>
            При создании элемента автоматически должно заполняться поле – Дата
            создания (Дата + Время).
          </li>
        </ol>
      </li>
      <li>Копирование элемента.</li>
      <li>Удаление элемента.</li>
    </ol>
    <p>На странице просмотра:</p>
    <ol>
      <li>Вывод списка созданных элементов с датой их создания.</li>
      <li>
        В заголовке списка должны быть названия колонок: наименование, дата и
        время создания, дата и время выполнения.
      </li>
      <li>
        Выпадающее меню у каждого элемента, предоставляющее возможность
        переместить элемент выше или ниже по списку.
      </li>
      <li>
        При нажатии на элемент открывается popup по аналогии с пунктом 1.1 блока
        выше только на просмотр полей.
      </li>
    </ol>
    <p>Бонусы:</p>
    <ol>
      <li>
        При достижении даты выполнения будет появляться toaster-уведомление с
        информацией об элементе.
      </li>
      <li>Валидация и отображение ошибок на полях формы создания.</li>
      <li>Локализация интерфейса (русский, английский).</li>
      <li>
        В разделе просмотра реализовать фильтрацию по полям: Наименование, Дата
        выполнения с, Дата выполнения по.
      </li>
    </ol>
  </div>
</div>
